@model IEnumerable<StundentData>

@{
    ViewData["Title"] = "Домашня сторінка";
}

<h1>Список студентів, які мають більше 1 предмета</h1>

<table class="table">
    <tr>
        <th>Ім'я</th>
        <th>Прізвище</th>
        <th>Вчителі</th>
        <th>Предмети</th>
    </tr>
    @foreach (var students in Model)
    {
        <tr>
            <td>@students.FirstName</td>
            <td>@students.LastName</td>
            <td>@students.Teachers</td>
            <td>@students.Subjects</td>
        </tr>
    }
</table>